.homework-item-zone {
  @apply w-full flex content-center;
}

.homework-item-zone-1 {
  @apply flex items-center w-[calc(20%)] p-[5px];
}

.homework-item-zone-1 > .avatar {
  @apply flex w-1/2 justify-center items-center m-[15px] mt-0;
  aspect-ratio: 1 / 1;
  border-radius: 100px;
  background: #e0a69b;
  color: #fce6e2;
  min-width: 30px;
  min-height: 30px;
  max-width: 35px;
  max-height: 35px;
  @apply text-xl font-bold;
}

.homework-item-zone-2 {
  @apply flex w-[calc(60%)] flex-col;
}

.homework-item-zone-2 > .title {
  @apply font-medium text-lg;
}

.homework-item-zone-2 > .description {
  @apply font-medium;
  color: #be8b81;
}

.homework-item-zone-3 {
  @apply flex justify-end w-[calc(20%)] pr-[30px] items-center;
}

.homework-item-zone-3 > .checkbox {
  transform: scale(1.8);
  border: 1px solid black;
  background-color: transparent;
  accent-color: #b4715b;
}