.test-item-zone {
  @apply w-full flex content-center;
}

.test-item-zone-1 {
  @apply flex items-center w-[calc(20%)] p-[5px];
}

.test-item-zone-1 > .avatar {
  @apply flex w-1/2 justify-center items-center m-[15px] mt-0;
  aspect-ratio: 1 / 1;
  border-radius: 100px;
  background: #e0a69b;
  color: #fce6e2;
  min-width: 30px;
  min-height: 30px;
  max-width: 35px;
  max-height: 35px;
  @apply text-xl font-bold;
}

.test-item-zone-2 {
  @apply flex w-[calc(60%)] flex-col;
}

.test-item-zone-2 > .title {
  @apply font-medium text-lg;
}

.test-item-zone-2 > .description {
  @apply font-medium;
  color: #be8b81;
}

.test-item-zone-3 {
  @apply flex w-[calc(20%)] items-center mt-[-20px] text-lg font-medium;
  color: #b4715b;
  margin-right: 30px;
}