.next-lesson-item-zone {
  @apply w-full flex content-center;
}

.next-lesson-item-zone-1 {
  @apply flex items-center w-[calc(20%)] p-[5px];
}

.next-lesson-item-zone-1 .avatar {
  @apply flex w-1/2 justify-center items-center m-[15px] mt-0;
  aspect-ratio: 1 / 1;
  border-radius: 100px;
  background: #e0a69b;
  color: #fce6e2;
  @apply text-xl font-bold;
}

.next-lesson-item-zone-2 {
  @apply flex w-[calc(80%)] flex-col;
}

.next-lesson-item-zone-2 > .title {
  @apply font-medium text-lg;
}

.next-lesson-item-zone-2 > .description {
  @apply font-medium;
  color: #be8b81;
}