.schedule-item-zone {
  @apply w-full flex content-center;
}

.schedule-item-zone-1 {
  @apply flex items-center w-[calc(25%)] p-[5px];
}

.schedule-item-zone-1 > .avatar {
  @apply flex w-1/2 justify-center items-center m-[15px] mt-0;
  aspect-ratio: 1 / 1;
  border-radius: 100px;
  background: #e0a69b;
  color: #fce6e2;
  min-width: 30px;
  min-height: 30px;
  max-width: 35px;
  max-height: 35px;
  @apply text-xl font-bold;
}

.schedule-item-zone-2 {
  @apply flex w-[calc(75%)] flex-col;
}

.schedule-item-zone-2 > .title {
  @apply font-medium text-lg;
}

.schedule-item-zone-2 > .description {
  @apply font-medium;
  color: #be8b81;
}